
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.booking-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center
}

.booking-item {
  margin-bottom: 16px;
}

  
  .booking-item p {
    margin: 8px 0;
  }
  
  .booking-item button {
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 8px; /* Add this line to align the button to the left */
    width: 80px; /* Add this line to reduce the width of the button */
  }
  
  .booking-item button:hover {
    background-color:red;
  } 

  .booking-item hr {
  border: none;
  border-top: 1px solid #bdbdbd;
  margin: 16px 0;
}