.centerContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    background-color: #faf0e6;
  }
  
  .dogSitterContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
  
  .profilePictureContainer {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .sitterName {
    font-size: 28px;
    margin: 0;
  }
  
  .city {
    font-size: 18px;
    color: gray;
    margin: 0;
  }
  
  .rateContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  
  .rate {
    font-size: 20px;
    color: green;
    margin-top: 5px;
  }
  